################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectEvaluation
/.vs/fasting-on-toast-app/v17
/.vs/fasting-on-toast-app/FileContentIndex
/.vs/fasting-on-toast-app/DesignTimeBuild
